<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Etuan2">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Etuan2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AgeActivity"
            android:exported="false"
            android:label="Bài tập tuổi"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".NumberActivity"
            android:exported="false"
            android:label="Bài tập số"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".EmailActivity"
            android:exported="false"
            android:label="Bài tập email"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".DataVisualizationActivity"
            android:exported="false"
            android:label="Biểu đồ dữ liệu"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".MessagingActivity"
            android:exported="false"
            android:label="Tin nhắn"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".UniversityActivity"
            android:exported="false"
            android:label="Logo trường UTH"
            android:theme="@style/Theme.Etuan2" />
        <activity
            android:name=".AutomationActivity"
            android:exported="false"
            android:label="Hệ thống tự động"
            android:theme="@style/Theme.Etuan2" />
    </application>

</manifest>